DirectoryIndex index.html 
<IfModule php5_module>
    php_flag session.cookie_httponly on
</IfModule>
<IfModule mod_env.c>
    SetEnv RECAPTCHA_SECRET_KEY 6LfPILkkAAAAANXVEuKEXlvL1qeHSLu1_O_nRqBw
    SetEnv DB_HOST mysql-server
    SetEnv DB_NAME webapp
    SetEnv DB_USER user
    SetEnv DB_PASS user
</IfModule>